<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='stylesheets/style.css' />-->
    <!--<link rel="stylesheet" href="bootstrap/css/bootstrap.css">-->
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h4><strong><%=title%></strong></h4>
          </div>
          <div class="panel-body">
            <h4><strong>作 者</strong></h4>
            <p><%=developer%></p>
            <h4><strong>github地址</strong></h4>
            <a href="<%=git%>"><%=git%></a>
            <h4><strong>使用技术</strong></h4>
            <h5><strong>后台：</strong></h5>
            <p>Node.js+Express</p>
            <h5><strong>前端：</strong></h5>
            <p>Ejs+Jquery+Bootstrap</p>
            <h4><strong>心得</strong></h4>
            <p>
              第一次接触基于MVC架构的系统（包括后台、前端部分）开发，有些概念上的理解不是特别的深入，尤其
              是MVC架构的理解和Express框架的中间件、路由管理等的实现原理令我比较头疼。不过，虽然实现的功能
              不多，仅仅是普通的增删查改、登录、注册，不过这些功能足以让我熟悉ajax技术、session的操作以及
              bootstrap各组件的使用。总而言之，收获也是不少的。
            </p>
            <!--<p class="text-right"><a href="/">返回</a></p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
  </body>
</html>