<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='stylesheets/style.css' />-->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-phone-alt"></span>
            <span>通讯录系统</span>
            <span class="hidden" id="location"><%=location%></span>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="links">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="home" id="home">首页</a></li>
            <li><a href="addressList">我的通讯录</a> </li>
            <li><a href="about">关于</a> </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="register" id="register">注册</a></li>
            <li><a href="login" id="login">登录</a> </li>
            <li class="dropdown" id="userButton">
                <a href="home" id="user" class="dropdown-toggle">
                    <%=currentUser%>
                  <span class="caret"></span>
                </a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="#" id="logout">注销</a> </li>
              </ul>
            </>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" id="content"></div>
    <!--<h1><%= title %></h1>-->
    <!--<p>欢迎来到<%= title %></p>-->

    <!--<p>-->
      <!--<a href="/login">登录</a>-->
      <!--<a href="/register">注册</a>-->
    <!--</p>-->
  </body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script>
  $(function () {
//      alert($('#user').text().replace(/\s+/g,""));
     if($('#user').text().replace(/\s+/g,"")==='未登录'){
          $('#userButton').addClass('hidden');
     }else {
          $('#login').parent().addClass('hidden');
          $('#register').parent().addClass('hidden');
     }
     $("#logout").click(function (event) {
          event.preventDefault();
          $.ajax({
              url: '/logout',
              type: 'post',
              data: '',
              success: function(data,status){
                  if(status == 'success'){
                      //alert("请求成功");
                      location.href='/';
                  }
              },
              error: function(data,err){
                  alert("发送请求失败！！");
              }
          });
      }) ;
     $("#login").click(function (event) {
         active("login");
         event.preventDefault();
         getPage("/login");
     }) ;
      $("#register").click(function (event) {
          active("register");
          event.preventDefault();
          getPage("/register");
      }) ;
      $("#home").click(function (event) {
          active("home");
          event.preventDefault();
          getPage("/home");
//          alert(currentUser);
      }) ;
      $('.dropdown').mouseover(function() {
          $(this).addClass('open');
      }).mouseout(function() {
          $(this).removeClass('open');
      });
      //window.onload=getPage("/home");
      window.onload=getPage($('#location').text().replace(/\s+/g,""));
      function getPage(url) {
          $.ajax({
              url: url,
              success: function(data){
//                  alert("成功获取登录页!!");
                  $('#content').html(data);
              },
              error: function(jqXHR, textStatus, errorThrown){
                  alert('error ' + textStatus + " " + errorThrown);
              }
          });
      }
      function active(id) {
          $(".active").removeClass("active");
          $("#"+id).parent().addClass("active");
      }

  });
</script>
</html>
