<% result.forEach(function(elem){ %>
<li class="contacts list-group-item row">
  <span class="name col-lg-2 col-md-2 col-sm-2 col-xs-2"><%= elem.name %> </span>
  <span class="name col-lg-2 col-md-2 col-sm-2 col-xs-2"><%= elem.telephone %> </span>
  <span class="name col-lg-2 col-md-2 col-sm-2 col-xs-2"><%= elem.mobile %> </span>
  <span class="name col-lg-2 col-md-2 col-sm-2 col-xs-2"><%= elem.company %> </span>
  <span class="name col-lg-2 col-md-2 col-sm-2 col-xs-2"><%= elem.post %> </span>
  <!--<span class="name col-lg-2 col-md-2 col-sm-2 col-xs-2">林某某</span>-->
  <!--<span class="telephone col-lg-2 col-md-2 col-sm-2 col-xs-2">88888888</span>-->
  <!--<span class="mobile col-lg-2 col-md-2 col-sm-2 col-xs-2">18088888888</span>-->
  <!--<span class="company col-lg-2 col-md-2 col-sm-2 col-xs-2">Tencent</span>-->
  <!--<span class="post col-lg-2 col-md-2 col-sm-2 col-xs-2">CTO</span>-->
  <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2"><button class="operation btn btn-success">操 作</button></div>
</li>
<% }); %>
